
services:
  nginx-proxy:
    image: nginxproxy/nginx-proxy:1.9.0-alpine
    container_name: nginx-proxy
    restart: always
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ../data/nginxproxy/certs:/etc/nginx/certs:rw
      - ../data/nginxproxy/vhost.d:/etc/nginx/vhost.d
      - ../data/nginxproxy/html:/usr/share/nginx/html
      - /var/run/docker.sock:/tmp/docker.sock:ro
    networks:
      showtimemaker_bridge:
        ipv4_address: 10.11.12.2
  acme-companion:
    image: nginxproxy/acme-companion:2.6.1
    container_name: acme-companion
    restart: always
    environment:
      - NGINX_PROXY_CONTAINER=nginx-proxy
    volumes:
      - ../data/nginxproxy/certs:/etc/nginx/certs:rw
      - ../data/nginxproxy/vhost.d:/etc/nginx/vhost.d
      - ../data/nginxproxy/html:/usr/share/nginx/html
      - /var/run/docker.sock:/var/run/docker.sock:ro
    networks:
      showtimemaker_bridge:
        ipv4_address: 10.11.12.3
  
  freefont_showtimemaker_com:
    container_name: freefont_showtimemaker_com
    build: ./freefont.showtimemaker.com
    restart: always
    expose:
      - "8000"
    environment:
      - VIRTUAL_HOST=freefont.showtimemaker.com
      - LETSENCRYPT_HOST=freefont.showtimemaker.com
      - LETSENCRYPT_EMAIL=admin@showtimemaker.com
      - TZ=Asia/Shanghai
      - LANG=en_US.UTF-8
    logging:
      driver: local
      options:
        max-size: 10m
        max-file: "7"
    volumes:
      - ./freefont:/app/freefont:ro
    networks:
      showtimemaker_bridge:
        ipv4_address: 10.11.12.4
networks:
  showtimemaker_bridge:
    driver: bridge
    ipam:
      config:
        - subnet: 10.11.12.0/24
          gateway: 10.11.12.1